<!DOCTYPE html>
<html>
<head>
    <title>Ishar's Recipe App!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.png') }}" type="image/x-icon">
</head>
<body style="background-color: #f0f0f0; font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div class="container" style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); margin: auto; width: 80%;">
        <header style="background-color: #5900ff; color: white; padding: 20px 0; text-align: center;">
            <h1>
                <img src="{{ url_for('static', filename='icons/favicon.png') }}" alt="Ishar's Recipe App Logo" style="height:50px;">
                Ishar's Recipe App!
            </h1>
            <p>
                <a href="{{ url_for('home') }}" style="color: white; text-decoration: none; background-color: #006BDB; padding: 10px 15px; border-radius: 5px;">Home</a> |
                <a href="{{ url_for('read') }}" style="color: white; text-decoration: none; background-color: #006BDB; padding: 10px 15px; border-radius: 5px;">All posts</a> |
                <a href="{{ url_for('create') }}" style="color: white; text-decoration: none; background-color: #006BDB; padding: 10px 15px; border-radius: 5px;">Create a post</a>
            </p>
        </header>
        <main style="padding: 20px;">
            {% block container %} {% endblock %}
        </main>
        <footer style="background-color: #007BFF; color: white; text-align: center; padding: 10px 0; position: fixed; bottom: 0; width: 100%; left: 0; right: 0;">
            <p>
                The source code for this example app is
                <a href="https://github.com/nyu-database-design/flask-mongodb-web-app" style="color: white; text-decoration: underline;">
                    available on Github
                </a>.
            </p>
        </footer>
    </div>
</body>
</html>
